---
export const prerender = true;

import { Icon } from "astro-icon/components";

import MainLayout from "@layouts/MainLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { extractYearAndMonth } from "@lib/utils";

export async function getStaticPaths() {
  const writings = await getCollection("writing");

  return writings.map((writing, index) => ({
    params: { slug: writing.slug },
    props: { writing, next: writings[index + 1] || writings[0]   },
  }));
}

type Props = {
  writing: CollectionEntry<"writing">;
  next: CollectionEntry<"writing">;
};

const { writing, next } = Astro.props;
const { Content } = await writing.render();
---

<MainLayout
  title={writing.data.title}
  description={writing.data.description}
  date={extractYearAndMonth(writing.data.date)}
>
  <a href="/writings" class="dark:text-neutral-400 text-neutral-600 hover:text-black dark:hover:text-white duration-75 z-40 absolute top-6">
    <Icon class="inline mb-0.5" name="undo-2" size={13} />
    <span>Back</span>
  </a>
  <article
    class="prose prose-neutral dark:prose-invert prose-strong:font-medium prose-p:leading-6 prose-img:border prose-img:rounded-lg prose-img:border-neutral-200  prose-hr:my-6"
  >
    <Content />
  </article>
  <div class="flex justify-end mt-12">
    <a href={next.slug} class="flex flex-col group items-end">
      <div class="text-neutral-500 dark:group-hover:text-white group-hover:text-black">
        Next
        <Icon class="inline mb-0.5" name="arrow-right" size={13} />
      </div>
      <div class="font-medium dark:font-normal group-hover:underline">{next.data.title}</div>
    </a>
  </div>
</MainLayout>
