---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";

import { getSortedPosts } from "@lib/utils";
import Link from "@components/Link.astro";
import { Image } from "astro:assets";
import profile from "@assets/profile.jpg"

const projects = await getCollection("project", ({ data }) => {
  return data.featured;
});

const sortedProjects = getSortedPosts(projects);

const writings = await getCollection("writing", ({ data }) => {
  return data.featured;
});

const sortedWritings = getSortedPosts(writings);
---

<Layout title="Kaung Thant" description="Frontend Engineer">
  <header>
    <h1 class="font-semibold text-lg">Kaung Thant</h1>
    <div class="text-gray9">Frontend Engineer</div>
  </header>
  <main class="space-y-24 mt-12 grow ">
    <section>
      <article class="space-y-6 text-gray11">
        <p>
          Passionate about crafting <span class="font-serif font-medium italic text-gray12">digital products</span>. I
          focus on designing engaging and visually appealing user experiences.
        </p>
        <p>
          Currently, I am working on personal projects and exploring innovative
          ideas to enhance my skills and contribute to the community.
        </p>
      </article>
    </section>
    <section>
      <!-- <div class="space-y-6">
        <div class="text-gray8">Works</div>
        <div>
          <Link href="#" class="mb-2">Projects</Link>
          <p class="text-gray11">Slected projects I have worked on</p>
        </div>
        <div>
          <Link href="#" class="mb-2">Writings</Link>
          <p class="text-gray11">Pieces of words and thoughts</p>
        </div>
      </div> -->
      <!-- <div class="space-y-6">
        <div class="text-gray8">Build</div>
        <div>
          <Link href="/crafts" class="mb-2">Crafts</Link>
          <p class="text-gray11">Implementing interactions</p>
        </div>
      </div> -->
      <!-- <div class="text-gray8">Library</div>
      <div class="grid grid-cols-1 gap-x-10 gap-y-16 md:grid-cols-2 mt-6">
        <div>
          <Link href="#" class="mb-2">Bookmarks</Link>
          <p class="text-gray11">Curated resources across the web</p>
        </div>
        <div>
          <Link href="#" class="mb-2">Books</Link>
          <p class="text-gray11">My tiny books collection </p>
        </div>
      </div> -->
      <!-- <div class="space-y-6 md:col-span-2">
        <div class="text-gray8">Playlists</div>
        <div class=" grid grid-cols-3 md:grid-cols-5 gap-6">
          <a class=" rounded-md overflow-hidden hover:opacity-90 duration-75 cursor-pointer">
            <img src="https://i.scdn.co/image/ab67616d0000b2730ced8bad8b65037b20b685e2" alt="Midnight Rain" />
          </a>
        </div>
      </div> -->
    </section>
    <section>
      <div class="text-gray8">Projects</div>
      <div class="mt-6 space-y-2">
        <div class="flex items-center gap-x-4">
          <div class="text-gray8">2024</div>
          <div><Link href="">Nexus</Link></div>
        </div>
        <div class="flex items-center gap-x-4">
          <div class="text-gray8">2023</div>
          <div><Link href="">CodeFrame</Link></div>
        </div>
      </div>
    </section>
    <!-- <section>
      <div class="space-y-6">
        <div class=" text-gray8">Connect</div>
        <div class="flex flex-col gap-y-2">
          <Link href="">Email</Link>
          <Link href="">Github</Link>
          <Link href="">Twitter</Link>
        </div>
      </div>
    </section> -->
    <!-- <section>
      <div class="mb-6 text-gray8">Writings</div>
      <div class=" divide-y divide-gray4">
        <div class="flex gap-x-6 justify-between py-2">
          <Link href="">Modern auth solutions in Next.js</Link>
          <div class="text-gray11 min-w-24 text-end text-sm leading-6">
            Jun 30, 2024
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section>
      <div
        class="flex flex-col gap-y-4 pl-4 border-l-2 border-neutral-200 dark:border-neutral-800"
      >
        {
          experiences.map((exp) => (
            <div>
              <div class="text-neutral-500 text-sm">
                {exp.from} - {exp.to}
              </div>
              <div class="font-medium dark:font-normal">
                {exp.role} <span class="text-neutral-600 dark:text-neutral-400 font-normal">@</span> <InlineLink url={exp.companyUrl}>{exp.company}</InlineLink>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section>
      <div class="flex justify-between items-center text-neutral-500 text-base">
        <h2>Projects</h2>
        <a
          href="/projects"
          class="cursor-pointer hover:text-black dark:hover:text-white duration-75 text-sm flex"
        >See all
          <Icon class=" mt-0.5 ml-0.5" name="arrow-up-right" size={16} />
        </a>
      </div>
      <div class="mt-2">
        {
          sortedProjects.map((project) => (
            <InfoLine
              href={`./projects/${project.slug}`}
              title={project.data.title}
              date={project.data.date}
            />
          ))
        }
      </div>
    </section>
    <section>
      <div
        class="flex justify-between items-center text-neutral-500 text-base"
      >
        <h2>Writings</h2>
        <a
          href="/writings"
          class="cursor-pointer hover:text-black dark:hover:text-white duration-75 text-sm flex"
        >See all
          <Icon class=" mt-0.5 ml-0.5" name="arrow-up-right" size={16} />
        </a>
      </div>
      <div class="mt-2">
        {
          sortedWritings.map((writing) => (
            <InfoLine
              href={`./writings/${writing.slug}`}
              title={writing.data.title}
              date={writing.data.date}
            />
          ))
        }
      </div>
    </section>
    <section class="pb-8">
      <h2 class="text-neutral-500">Connect</h2>
      <div class="mt-4">
        {
          socials.map((social) => (
            <a
              href={social.href}
              class="underline font-medium dark:font-normal mb-1 w-min flex items-center decoration-neutral-300 dark:decoration-neutral-700 group hover:decoration-black dark:hover:decoration-white duration-75"
            >
              <span>{social.name}</span>
              <Icon
                class=" ml-0.5 text-neutral-400 dark:text-neutral-600 group-hover:text-black dark:group-hover:text-white duration-75"
                name="move-up-right"
                size={12}
              />
            </a>
          ))
        }
      </div>
    </section> -->
  </main>
</Layout>
