---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";

import { getSortedPosts } from "@lib/utils";
import Link from "@components/Link.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const writings = await getCollection("writing", ({ data }) => {
  return data.featured;
});

const sortedWritings = getSortedPosts(writings);
---

<Layout title="Kaung Thant" description="Frontend Engineer">
  <header>
    <h1 class="font-medium text-sage-12 text-lg dark:text-sageDark-12">Kaung Thant</h1>
    <h2 class="dark:text-sageDark-10 text-sage-10">
      Frontend Engineer
    </h2>
  </header>
  <main class="space-y-16 mt-8 grow">
    <section>
      <!-- <article class="space-y-4">
        <p>
          Passionate about crafting <span
            class="font-serif font-medium italic"
            >digital products</span
          >. I focus on designing engaging and visually appealing user
          experiences.
        </p>
        <p>
          Currently, I am working on personal projects and exploring innovative
          ideas to enhance my skills and contribute to the community.
        </p>
      </article> -->
    </section>
    <!-- <section class="space-y-8 line-through">
      <div class="font-medium">Experiences</div>
    </section> -->
    <section class="space-y-5">
      <div class="text-sage-10 dark:text-sageDark-10 font-serif italic">
        Projects
      </div>
      <div class="space-y-3">
        <div class="flex items-center gap-x-2">
          <Link href="" icon={true}>Elevate</Link>
          <div class="text-sage-10 dark:text-sageDark-10 text-[15px]">
            Curated tools library
          </div>
          <!-- <div class="h-[0.5px] bg-sage-4 dark:bg-sageDark-4 grow mx-2"/>
          <div class="text-sage-9 dark:text-sageDark-9">2024</div> -->
        </div>
        <div class="flex items-center gap-x-2">
          <Link href="" icon={true}>Nexus</Link>
          <div class="text-sage-10 dark:text-sageDark-10 text-[15px]">
            Crypto wallet
          </div>
          <!-- <div class="h-[0.5px] bg-sage-4 dark:bg-sageDark-4 grow mx-2"/>
            <div class="text-sage-9 dark:text-sageDark-9">2024</div> -->
        </div>
        <div class="flex items-center gap-x-2">
          <Link href="" icon={true}>Code Frame</Link>
          <div class="text-sage-10 dark:text-sageDark-10 text-[15px]">
            Code visualization tool
          </div>
          <!-- <div class="h-[0.5px] bg-sage-4 dark:bg-sageDark-4 grow mx-2"/>
          <div class="text-sage-9 dark:text-sageDark-9">2024</div> -->
        </div>
      </div>
      <!-- <a
        href="/projects"
        class="text-sage-9 flex items-center hover:text-sage-12 duration-150 ease-out w-fit"
      >
        See all
        <Icon class="ml-0.5" name="arrow-up-right" size={16} />
      </a> -->
    </section>
    <section class="space-y-5">
      <div class="text-sage-10 font-serif italic">Writings</div>
      <div class="space-y-3">
        <div class="flex items-center gap-x-2">
          <Link href="" icon={true}>Modern auth solutions in Next.js</Link>
          <div
            class="text-xs rounded bg-sage-4 px-1 text-sage-11 font-medium font-serif italic"
          >
            Mm
          </div>
          <!-- <div class="h-[0.5px] bg-sage-4 grow mx-2"/>
        <div class="text-sage-9">2024</div> -->
        </div>
        <div class="flex items-center gap-x-2">
          <Link href="" icon={true}>Colophon</Link>
          <!-- <div class="h-[0.5px] bg-sage-4 grow mx-2"/>
        <div class="text-sage-9">2024</div>
        </div> -->
        </div>
        <!-- <a
        href="/writings"
        class="text-sage-9 flex items-center hover:text-sage-12 duration-150 ease-out w-fit"
      >
        See all
        <Icon class="ml-0.5" name="arrow-up-right" size={16} />
      </a> -->
      </div>
    </section>
      <section class="space-y-4">
        <div class="flex gap-x-4 items-center font-serif italic text-sage-10">
          Now <div
            class="flex gap-x-2 items-center text-sm font-sans not-italic"
          >
            <span class="relative flex h-2 w-2">
              <span
                class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
              ></span>
              <span
                class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
              ></span>
            </span>Available
          </div>
        </div>
        <article class="space-y-8">
          <p>
            Currently, I am working on personal projects and exploring
            innovative ideas to enhance my skills and contribute to the
            community.
          </p>
          <p></p>
        </article>
        <div class="p-1 bg-sage-2 border border-sage-4 rounded-xl max-w-64">
          <div
            class="p-1.5 bg-sage-1 rounded-lg border border-sage-4 flex gap-x-4 items-center grow"
          >
            <Image
              src="https://i.scdn.co/image/ab67616d0000b27364fa1bda999f4fbd2b7c4bb7"
              alt="Here With Me"
              class="rounded"
              width={48}
              height={48}
            />
            <div class="grow">
              <Link href="" icon={true}>Here With Me</Link>
              <div class="text-sage-11 text-sm">d4vd</div>
            </div>
          </div>
          <div class="text-xs text-sage-9 font-serif italic mt-0.5 ml-1">
            Now Playing
          </div>
        </div>
      </section>
      <!-- <section>
      <div class="grid grid-cols-1 gap-x-10 gap-y-12 md:grid-cols-2">
        <div>
          <Link href="/bookmarks" class="mb-2" icon={true}>Bookmarks</Link>
          <p class="text-sage-11">Curated resources across the web</p>
        </div>
        <div>
          <Link href="/books" class="mb-2" icon={true}>Books</Link>
          <p class="text-sage-11">My tiny books collection</p>
        </div>
      </div>
    </section> -->
      <section>
        <div class="space-y-5">
          <div class="text-sage-10 font-serif italic">Connect</div>
          <div class="flex items-center gap-x-4">
            <Link href="" class="relative before:content-[''] before:absolute before:w-4 before:h-[1.5px] before:-bottom-[3px] before:bg-sage-4 hover:before:bg-sage-8 dark:before:bg-sageDark-4 dark:hover:before:bg-sageDark-8" icon> <Icon name="x" size={16} /></Link>
            <Link href="" icon>Github</Link>
            <Link href="" icon>Email</Link>
            <Link href="" icon>Behance</Link>
          </div>
          <div
          class="text-sage-9 font-normal text-sm flex gap-x-1 font-serif italic"
        >
          Local:<div id="myanmar-time">00:00 AM</div>
        </div>
          <!-- <div class="space-y-4">
          <div class="flex gap-x-1 text-sage-11">
            Follow me on:
            <Link href="">X </Link>,
            <Link href="">Github </Link>.
          </div>
          <div class="flex gap-x-1 text-sage-11">
            Reach me out at: <Link href="">luckybn310@gmail.com</Link>
          </div>
          <div
            class="text-sage-9 font-normal text-sm flex gap-x-1 font-serif italic"
          >
            Local:<div id="myanmar-time">00:00 AM</div>
          </div>
        </div> -->
        </div>
      </section>
      <!-- <section>
      <div
        class="flex justify-between items-center text-neutral-500 text-base"
      >
        <h2>Writings</h2>
        <a
          href="/writings"
          class="cursor-pointer hover:text-black dark:hover:text-white duration-75 text-sm flex"
        >See all
          <Icon class=" mt-0.5 ml-0.5" name="arrow-up-right" size={16} />
        </a>
      </div>
      <div class="mt-2">
        {
          sortedWritings.map((writing) => (
            <InfoLine
              href={`./writings/${writing.slug}`}
              title={writing.data.title}
              date={writing.data.date}
            />
          ))
        }
      </div>
    </section> -->
    </section>
  </main>

  <script>
    const padZero = (num: number) => (num < 10 ? `0${num}` : num);

    const getMyanmarTime = () => {
      const currentDate = new Date();
      const utcOffset = currentDate.getTimezoneOffset();

      const myanmarOffset = 390;
      const myanmarTime = new Date(
        currentDate.getTime() + (myanmarOffset + utcOffset) * 60000
      );

      let hours = myanmarTime.getHours();
      const minutes = padZero(myanmarTime.getMinutes());

      const ampm = hours >= 12 ? "PM" : "AM";
      hours = hours % 12;
      hours = hours ? hours : 12;
      const paddedHours = padZero(hours);

      return `${paddedHours}:${minutes} ${ampm}`;
    };
    const timeElement = document.getElementById("myanmar-time");

    setInterval(() => {
      if (timeElement) {
        timeElement.textContent = getMyanmarTime();
      }
    }, 1000);
  </script>
</Layout>
