---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";

import { getSortedPosts } from "@lib/utils";
import Link from "@components/Link.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const projects = await getCollection("project", ({ data }) => {
  return data.featured;
});

const sortedProjects = getSortedPosts(projects);

const writings = await getCollection("writing", ({ data }) => {
  return data.featured;
});

const sortedWritings = getSortedPosts(writings);
---

<Layout title="Kaung Thant" description="Frontend Engineer">
  <header>
    <h1 class="font-medium text-lg">Kaung Thant</h1>
  </header>
  <main class="space-y-24 mt-8 grow">
    <section>
      <article class="space-y-8 text-gray11">
        <p>
          I'm a Frontend Engineer based in <Link href="" class="cursor-help">Myanmar(Burma)</Link>.
        </p>
        <p>
          Passionate about crafting <span
            class="font-serif font-medium italic text-gray12"
            >digital products</span
          >. I focus on designing engaging and visually appealing user
          experiences.
        </p>
        <!-- <p>
          Currently, I am working on personal projects and exploring innovative
          ideas to enhance my skills and contribute to the community.
        </p> -->
      </article>
    </section>
    <section class="space-y-8 line-through">
      <div class="font-medium">Experiences</div>
    </section>
    <section class="space-y-8">
      <div class="font-medium">Projects</div>
      <div class="space-y-2">
        <div class="flex items-center">
          <div class="text-gray8 w-16">2024</div>
          <div class="flex items-center gap-x-2">
            <Link href="">Elevate</Link>
            <div class="text-gray9">Curated tools library</div>
          </div>
        </div>
        <div class="flex items-center">
          <div class="text-gray8 w-16">2024</div>
          <div class="flex items-center gap-x-2">
            <Link href="">Nexus</Link>
            <div class="text-gray9">Crypto wallet</div>
          </div>
        </div>
        <div class="flex items-center">
          <div class="text-gray8 w-16">2023</div>
          <div class="flex items-center gap-x-2">
            <Link href="">Code Frame</Link>
            <div class="text-gray9">Code visualization tool</div>
          </div>
        </div>
      </div>
      <!-- <a
        href="/projects"
        class="text-gray9 flex items-center hover:text-gray12 duration-150 ease-out w-fit"
      >
        See all
        <Icon class="ml-0.5" name="arrow-up-right" size={16} />
      </a> -->
    </section>
    <section class="space-y-8">
      <div class="font-medium">Writings</div>
      <div class="space-y-2">
        <div class="flex items-center">
          <div class="text-gray8 w-16">2024</div>
          <div class="flex items-center gap-x-2">
            <Link href="">Modern auth solutions in Next.js</Link>
            <div
              class="text-xs rounded bg-gray4 px-1 text-gray11 font-medium font-serif italic"
            >
              Mm
            </div>
          </div>
        </div>
      </div>
      <!-- <a
        href="/writings"
        class="text-gray9 flex items-center hover:text-gray12 duration-150 ease-out w-fit"
      >
        See all
        <Icon class="ml-0.5" name="arrow-up-right" size={16} />
      </a> -->
    </section>
    <section class="space-y-6">
      <div class="font-medium flex gap-x-4 items-center">
        Now <div
          class="flex gap-x-2 text-gray8 items-center text-sm font-serif italic"
        >
          <span class="relative flex h-2 w-2">
            <span
              class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
            ></span>
            <span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
            ></span>
          </span>Available
        </div>
      </div>
      <article class="space-y-8 text-gray11">
        <p>
          Currently, I am working on personal projects and exploring innovative
          ideas to enhance my skills and contribute to the community.
        </p>
        <p></p>
      </article>
      <div></div>
      <div class="p-1 bg-gray3 rounded-xl max-w-64">
        <div
          class="p-1.5 bg-white rounded-lg border border-gray4 shadow flex gap-x-4 items-center grow"
        >
          <Image
            src="https://i.scdn.co/image/ab67616d0000b27364fa1bda999f4fbd2b7c4bb7"
            alt="Here With Me"
            class="rounded"
            width={48}
            height={48}
          />
          <div class="grow">
            <Link href="" class="text-[15px]">Here With Me</Link>
            <div class="text-gray11 text-sm">d4vd</div>
          </div>
        </div>
        <div class="text-xs text-gray9 font-serif italic mt-0.5 ml-1">
          Now Playing
        </div>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-1 gap-x-10 gap-y-12 md:grid-cols-2">
        <div>
          <Link href="#" class="mb-2">Bookmarks</Link>
          <p class="text-gray11">Curated resources across the web</p>
        </div>
        <div>
          <Link href="#" class="mb-2">Books</Link>
          <p class="text-gray11">My tiny books collection</p>
        </div>
      </div>
    </section>
    <section>
      <div class="space-y-6">
        <div class="font-medium">Connect</div>
        <div class="flex flex-col gap-y-2">
          <Link href=""
            >X <Icon class="ml-0.5" name="move-up-right" size={12} /></Link
          >
          <Link href=""
            >Github <Icon class="ml-0.5" name="move-up-right" size={12} /></Link
          >
          <Link href=""
            >Email <Icon class="ml-0.5" name="move-up-right" size={12} /></Link
          >
        </div>
      </div>
    </section>
    <!-- <section>
      <div class="mb-6 text-gray8">Writings</div>
      <div class=" divide-y divide-gray4">
        <div class="flex gap-x-6 justify-between py-2">
          <Link href="">Modern auth solutions in Next.js</Link>
          <div class="text-gray11 min-w-24 text-end text-sm leading-6">
            Jun 30, 2024
          </div>
        </div>
      </div>
    </section> -->
    <!-- <section>
      <div
        class="flex flex-col gap-y-4 pl-4 border-l-2 border-neutral-200 dark:border-neutral-800"
      >
        {
          experiences.map((exp) => (
            <div>
              <div class="text-neutral-500 text-sm">
                {exp.from} - {exp.to}
              </div>
              <div class="font-medium dark:font-normal">
                {exp.role} <span class="text-neutral-600 dark:text-neutral-400 font-normal">@</span> <InlineLink url={exp.companyUrl}>{exp.company}</InlineLink>
              </div>
            </div>
          ))
        }
      </div>
    </section>
    <section>
      <div class="flex justify-between items-center text-neutral-500 text-base">
        <h2>Projects</h2>
        <a
          href="/projects"
          class="cursor-pointer hover:text-black dark:hover:text-white duration-75 text-sm flex"
        >See all
          <Icon class=" mt-0.5 ml-0.5" name="arrow-up-right" size={16} />
        </a>
      </div>
      <div class="mt-2">
        {
          sortedProjects.map((project) => (
            <InfoLine
              href={`./projects/${project.slug}`}
              title={project.data.title}
              date={project.data.date}
            />
          ))
        }
      </div>
    </section>
    <section>
      <div
        class="flex justify-between items-center text-neutral-500 text-base"
      >
        <h2>Writings</h2>
        <a
          href="/writings"
          class="cursor-pointer hover:text-black dark:hover:text-white duration-75 text-sm flex"
        >See all
          <Icon class=" mt-0.5 ml-0.5" name="arrow-up-right" size={16} />
        </a>
      </div>
      <div class="mt-2">
        {
          sortedWritings.map((writing) => (
            <InfoLine
              href={`./writings/${writing.slug}`}
              title={writing.data.title}
              date={writing.data.date}
            />
          ))
        }
      </div>
    </section>
    <section class="pb-8">
      <h2 class="text-neutral-500">Connect</h2>
      <div class="mt-4">
        {
          socials.map((social) => (
            <a
              href={social.href}
              class="underline font-medium dark:font-normal mb-1 w-min flex items-center decoration-neutral-300 dark:decoration-neutral-700 group hover:decoration-black dark:hover:decoration-white duration-75"
            >
              <span>{social.name}</span>
              <Icon
                class=" ml-0.5 text-neutral-400 dark:text-neutral-600 group-hover:text-black dark:group-hover:text-white duration-75"
                name="move-up-right"
                size={12}
              />
            </a>
          ))
        }
      </div>
    </section> -->
  </main>
</Layout>
