---
import Link from './Link.astro';

type Props = {
  href: string;
  title: string;
  description?: string;
  date: string;
};

const { href, title, description, date } = Astro.props;
---

<div class="flex items-center gap-x-2">
  <Link href={href} icon={true}>{title}</Link>
  {description && (
    <div class="text-sage-10 dark:text-sageDark-10 text-[15px]">
      {description}
    </div>
  )}
  <!-- <div class="h-[0.5px] bg-sage-4 dark:bg-sageDark-4 grow mx-2"/>
  <div class="text-sage-9 dark:text-sageDark-9 text-sm">{date}</div> -->
</div>
